*.local
*.identcache
*.drc
*.map
*.dcu
*.rsm
/dbVface/Release
/dbVface/.vs
/bin/Win32/nginx/logs/error.log
/bin/Win32/nginx/logs/access.log
log
snap
/bin/Win64/nginx/logs
/bin/Win32/nginx/logs/nginx.pid
/bin/Win64/nginx/logs/error.log
/bin/Win64/nginx/logs/access.log
/VC/Release
/VC/.vs
/VC/Debug
*.pdb
/VC/VC.vcxproj.user
/VC/VC.APS
x64
/C#/.vs
/C#/bin
/C#/obj
/bin/Win32/C#.exe.config
/bin/Win64/C#.exe.config
